<p>
  <b>Title:</b>
  <%=h @magazine.title %>
</p>

<p>
  <b>Number of pages:</b>
  <%=h @magazine.number_of_pages %>
</p>

<p>
  <b>Publisher:</b>
  <%=h @magazine.publisher %>
</p>

<p>
  <b>Tags:</b>
  <%=h @magazine.tags %>
</p>

<p>
  <b>Release date:</b>
  <%=h @magazine.release_date %>
</p>
  
<p>
  <b>Image:</b>
  <%= image_tag @magazine.cover.url(:thumb) %>
</p>

<div id= "ListOfPages">
<h1>Lista de paginas</h1>
<div id= "bla"> </div>
<% unless @magazine.pages.empty?%>
  <table>
  <thead>
  <tr>
  <th> Page Number </th>
  <th> Image </th>
  <th> Actions </th>
  </tr>
  </thead>
  <tbody>
  <%=render :partial => "/pages/page", :collection => @magazine.pages %>
  </tbody>
  </table>
<%end%>
</div>
<%form_for Page.new(:magazine => @magazine ), :html => {:multipart => true, :target => "upload_frame"}, :url => pages_path(:format => 'js') do |f|%>
  <p>
    <%= f.label :page_number%><br />
    <%= f.text_field :page_number %>
  </p>
  
  <%= f.hidden_field :magazine_id %>
  </p>
   <%= f.file_field :image %>
  <p>
    <%= f.submit 'create' %>
  </p>
<%end%>
<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
  
<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %>
<%= link_to 'Show magazine', :action => "show_magazine", :id => @magazine%>
<%= link_to 'jPageFlip', :action => "j_page_flip", :id => @magazine%>
