<h1>New magazine page</h1>

<% form_for @page , :html => {:multipart => true, :method => :get}, :url => { :action => "create", :magazine_id => @magazine.id } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :page_number%><br />
    <%= f.text_field :page_number %>
  </p>
  </p>
  <%= f.hidden_field :magazine_id, :value => @magazine.id %>
  </p>  
  </p>
   <%= f.file_field :image %>
  <p>
    <%= f.submit 'create' %>
  </p>
<% end %>
