<% form_for @page, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :page_number%><br />
    <%= f.text_field :page_number %>
  </p>
  </p>
  <%= f.hidden_field :magazine_id, :value => @magazine.id %>
  </p>  
  </p>
   <%= f.file_field :image %>
  <p>
    <%= f.submit 'submit' %>
  </p>
<% end %>
